<!DOCTYPE html>
{% block head %}
<head>
    <title>iNeuron Scrapper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="../static/js/base.js"></script>
</head>
{% endblock %}

<body style="background-color: #ffffff;">
    {% block body %}

        <div id='courseheader'>
            <div class="headerleft" style="width:80%">
                <h1>{{result['title']}}</h1>
                <p>{{result['description']}}</p>
                {% if result['courseInOneNeuron'] %}
                    <h3>This course is a part of {{result['courseInOneNeuron']['bundleName']}}
                {% endif %}
            </div>
        </div>

        <div class="coursecontentheader">
            <div class="contentleft">
                <h1>What you'll learn</h1>
                <hr>
                {% for i in result['curriculum'] %}
                    <h3>{{i['title']}}</h3>
                    {% for j in i['items'] %}
                        <div class="content">
                            {{j}}
                        </div>
                    {% endfor %}
                <hr>
                {% endfor %}  
            </div>
            <div class="contentright">
                <h3>Course language: <span>{{result['language']}}</span></h3>
                <h3>Price : Rs.{{result['pricing']['IN']}}/-</h3>
                <h3>Instructor(s)</h3>
                {% for j in result['instructors'] %}
                    <li>{{j['name']}}</li>
                {% endfor %}
                <h3>Course Features</h3>
                {% for j in result['features'] %}
                    <li>{{j}}</li>
                {% endfor %}
                <h3>System Requirements</h3>
                {% for j in result['requirements'] %}
                    <li>{{j}}</li>
                {% endfor %}
            </div>       
        </div>

        

    {% endblock %}
</body>
</html>